.afiyet {
    color: darkgoldenrod;
    font-weight: bold;
}

.yemek-adi {
    color: saddlebrown;
    font-weight: bolder;
}

.section-name {
    color: maroon;
    font-style: italic;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    background-color:seashell;
}